=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class AccountHolderGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists account holder groups
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 10)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime. (default to '-lastModifiedTime')
    # @return [AccountHolderGroupListResponse]
    def get_accountholdergroups(opts = {})
      data, _status_code, _headers = get_accountholdergroups_with_http_info(opts)
      data
    end

    # Lists account holder groups
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime.
    # @return [Array<(AccountHolderGroupListResponse, Integer, Hash)>] AccountHolderGroupListResponse data, response status code and response headers
    def get_accountholdergroups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountHolderGroupsApi.get_accountholdergroups ...'
      end
      # resource path
      local_var_path = '/accountholdergroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountHolderGroupListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountHolderGroupsApi.get_accountholdergroups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountHolderGroupsApi#get_accountholdergroups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific account holder group object
    # @param token [String] Account holder group token
    # @param [Hash] opts the optional parameters
    # @return [AccountHolderGroupResponse]
    def get_accountholdergroups_token(token, opts = {})
      data, _status_code, _headers = get_accountholdergroups_token_with_http_info(token, opts)
      data
    end

    # Returns a specific account holder group object
    # @param token [String] Account holder group token
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountHolderGroupResponse, Integer, Hash)>] AccountHolderGroupResponse data, response status code and response headers
    def get_accountholdergroups_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountHolderGroupsApi.get_accountholdergroups_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AccountHolderGroupsApi.get_accountholdergroups_token"
      end
      # resource path
      local_var_path = '/accountholdergroups/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountHolderGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountHolderGroupsApi.get_accountholdergroups_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountHolderGroupsApi#get_accountholdergroups_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an account holder group object
    # @param body [AccountHolderGroupRequest] Account holder group object
    # @param [Hash] opts the optional parameters
    # @return [AccountHolderGroupResponse]
    def post_accountholdergroups(body, opts = {})
      data, _status_code, _headers = post_accountholdergroups_with_http_info(body, opts)
      data
    end

    # Creates an account holder group object
    # @param body [AccountHolderGroupRequest] Account holder group object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountHolderGroupResponse, Integer, Hash)>] AccountHolderGroupResponse data, response status code and response headers
    def post_accountholdergroups_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountHolderGroupsApi.post_accountholdergroups ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountHolderGroupsApi.post_accountholdergroups"
      end
      # resource path
      local_var_path = '/accountholdergroups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountHolderGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountHolderGroupsApi.post_accountholdergroups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountHolderGroupsApi#post_accountholdergroups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an account holder group object
    # @param token [String] 
    # @param body [AccountHolderGroupUpdateRequest] Account holder group update object
    # @param [Hash] opts the optional parameters
    # @return [AccountHolderGroupResponse]
    def put_accountholdergroups_token(token, body, opts = {})
      data, _status_code, _headers = put_accountholdergroups_token_with_http_info(token, body, opts)
      data
    end

    # Updates an account holder group object
    # @param token [String] 
    # @param body [AccountHolderGroupUpdateRequest] Account holder group update object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountHolderGroupResponse, Integer, Hash)>] AccountHolderGroupResponse data, response status code and response headers
    def put_accountholdergroups_token_with_http_info(token, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountHolderGroupsApi.put_accountholdergroups_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AccountHolderGroupsApi.put_accountholdergroups_token"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountHolderGroupsApi.put_accountholdergroups_token"
      end
      # resource path
      local_var_path = '/accountholdergroups/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountHolderGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountHolderGroupsApi.put_accountholdergroups_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountHolderGroupsApi#put_accountholdergroups_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
