=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class AuthControlsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all global auth control exceptions for the program
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token. Use \&quot;null\&quot; to get auth controls that are not associated with any card product.
    # @option opts [String] :user User token. Use \&quot;null\&quot; to get auth controls that are not associated with any user.
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 5)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime. (default to '-lastModifiedTime')
    # @return [AuthControlListResponse]
    def get_authcontrols(opts = {})
      data, _status_code, _headers = get_authcontrols_with_http_info(opts)
      data
    end

    # Lists all global auth control exceptions for the program
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token. Use \&quot;null\&quot; to get auth controls that are not associated with any card product.
    # @option opts [String] :user User token. Use \&quot;null\&quot; to get auth controls that are not associated with any user.
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime.
    # @return [Array<(AuthControlListResponse, Integer, Hash)>] AuthControlListResponse data, response status code and response headers
    def get_authcontrols_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.get_authcontrols ...'
      end
      # resource path
      local_var_path = '/authcontrols'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'card_product'] = opts[:'card_product'] if !opts[:'card_product'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.get_authcontrols",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#get_authcontrols\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all auth control exempted MIDs for the program
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token. Use \&quot;null\&quot; to get auth controls that are not associated with any card product.
    # @option opts [String] :user User token. Use \&quot;null\&quot; to get auth controls that are not associated with any user.
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 5)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime. (default to '-lastModifiedTime')
    # @return [AuthControlExemptMidsListResponse]
    def get_authcontrols_exemptmids(opts = {})
      data, _status_code, _headers = get_authcontrols_exemptmids_with_http_info(opts)
      data
    end

    # Lists all auth control exempted MIDs for the program
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token. Use \&quot;null\&quot; to get auth controls that are not associated with any card product.
    # @option opts [String] :user User token. Use \&quot;null\&quot; to get auth controls that are not associated with any user.
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime.
    # @return [Array<(AuthControlExemptMidsListResponse, Integer, Hash)>] AuthControlExemptMidsListResponse data, response status code and response headers
    def get_authcontrols_exemptmids_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.get_authcontrols_exemptmids ...'
      end
      # resource path
      local_var_path = '/authcontrols/exemptmids'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'card_product'] = opts[:'card_product'] if !opts[:'card_product'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlExemptMidsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.get_authcontrols_exemptmids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#get_authcontrols_exemptmids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific auth control exemptmids
    # @param token [String] Auth control token
    # @param [Hash] opts the optional parameters
    # @return [AuthControlExemptMidsResponse]
    def get_authcontrols_exemptmids_token(token, opts = {})
      data, _status_code, _headers = get_authcontrols_exemptmids_token_with_http_info(token, opts)
      data
    end

    # Returns a specific auth control exemptmids
    # @param token [String] Auth control token
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthControlExemptMidsResponse, Integer, Hash)>] AuthControlExemptMidsResponse data, response status code and response headers
    def get_authcontrols_exemptmids_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.get_authcontrols_exemptmids_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthControlsApi.get_authcontrols_exemptmids_token"
      end
      # resource path
      local_var_path = '/authcontrols/exemptmids/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlExemptMidsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.get_authcontrols_exemptmids_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#get_authcontrols_exemptmids_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific auth control exception
    # @param token [String] Auth control token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [AuthControlResponse]
    def get_authcontrols_token(token, opts = {})
      data, _status_code, _headers = get_authcontrols_token_with_http_info(token, opts)
      data
    end

    # Returns a specific auth control exception
    # @param token [String] Auth control token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [Array<(AuthControlResponse, Integer, Hash)>] AuthControlResponse data, response status code and response headers
    def get_authcontrols_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.get_authcontrols_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthControlsApi.get_authcontrols_token"
      end
      # resource path
      local_var_path = '/authcontrols/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.get_authcontrols_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#get_authcontrols_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an auth control exception
    # @param body [AuthControlRequest] Auth control object
    # @param [Hash] opts the optional parameters
    # @return [AuthControlResponse]
    def post_authcontrols(body, opts = {})
      data, _status_code, _headers = post_authcontrols_with_http_info(body, opts)
      data
    end

    # Creates an auth control exception
    # @param body [AuthControlRequest] Auth control object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthControlResponse, Integer, Hash)>] AuthControlResponse data, response status code and response headers
    def post_authcontrols_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.post_authcontrols ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AuthControlsApi.post_authcontrols"
      end
      # resource path
      local_var_path = '/authcontrols'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.post_authcontrols",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#post_authcontrols\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an auth control for exempting MIDs
    # @param body [AuthControlExemptMidsRequest] Auth control exempt MID object
    # @param [Hash] opts the optional parameters
    # @return [AuthControlExemptMidsResponse]
    def post_authcontrols_exemptmids(body, opts = {})
      data, _status_code, _headers = post_authcontrols_exemptmids_with_http_info(body, opts)
      data
    end

    # Creates an auth control for exempting MIDs
    # @param body [AuthControlExemptMidsRequest] Auth control exempt MID object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthControlExemptMidsResponse, Integer, Hash)>] AuthControlExemptMidsResponse data, response status code and response headers
    def post_authcontrols_exemptmids_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.post_authcontrols_exemptmids ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AuthControlsApi.post_authcontrols_exemptmids"
      end
      # resource path
      local_var_path = '/authcontrols/exemptmids'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlExemptMidsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.post_authcontrols_exemptmids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#post_authcontrols_exemptmids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates the status an auth control exemptmids
    # @param token [String] Auth control token
    # @param [Hash] opts the optional parameters
    # @option opts [AuthControlExemptMidsUpdateRequest] :body 
    # @return [nil]
    def put_authcontrols_exemptmids_token(token, opts = {})
      put_authcontrols_exemptmids_token_with_http_info(token, opts)
      nil
    end

    # Updates the status an auth control exemptmids
    # @param token [String] Auth control token
    # @param [Hash] opts the optional parameters
    # @option opts [AuthControlExemptMidsUpdateRequest] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def put_authcontrols_exemptmids_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.put_authcontrols_exemptmids_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthControlsApi.put_authcontrols_exemptmids_token"
      end
      # resource path
      local_var_path = '/authcontrols/exemptmids/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.put_authcontrols_exemptmids_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#put_authcontrols_exemptmids_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an auth control exception
    # @param token [String] Auth control token
    # @param body [AuthControlUpdateRequest] Auth control object
    # @param [Hash] opts the optional parameters
    # @return [AuthControlResponse]
    def put_authcontrols_token(token, body, opts = {})
      data, _status_code, _headers = put_authcontrols_token_with_http_info(token, body, opts)
      data
    end

    # Updates an auth control exception
    # @param token [String] Auth control token
    # @param body [AuthControlUpdateRequest] Auth control object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthControlResponse, Integer, Hash)>] AuthControlResponse data, response status code and response headers
    def put_authcontrols_token_with_http_info(token, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthControlsApi.put_authcontrols_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthControlsApi.put_authcontrols_token"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AuthControlsApi.put_authcontrols_token"
      end
      # resource path
      local_var_path = '/authcontrols/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthControlsApi.put_authcontrols_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthControlsApi#put_authcontrols_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
