=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class AutoReloadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all auto reloads for the program
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token
    # @option opts [String] :user_token User token
    # @option opts [String] :business_token Business token
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 10)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime. (default to '-lastModifiedTime')
    # @return [AutoReloadListResponse]
    def get_autoreloads(opts = {})
      data, _status_code, _headers = get_autoreloads_with_http_info(opts)
      data
    end

    # Lists all auto reloads for the program
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token
    # @option opts [String] :user_token User token
    # @option opts [String] :business_token Business token
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime.
    # @return [Array<(AutoReloadListResponse, Integer, Hash)>] AutoReloadListResponse data, response status code and response headers
    def get_autoreloads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutoReloadsApi.get_autoreloads ...'
      end
      # resource path
      local_var_path = '/autoreloads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'card_product'] = opts[:'card_product'] if !opts[:'card_product'].nil?
      query_params[:'user_token'] = opts[:'user_token'] if !opts[:'user_token'].nil?
      query_params[:'business_token'] = opts[:'business_token'] if !opts[:'business_token'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AutoReloadListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AutoReloadsApi.get_autoreloads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutoReloadsApi#get_autoreloads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific auto reload object
    # @param token [String] Auto reload token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [AutoReloadResponseModel]
    def get_autoreloads_token(token, opts = {})
      data, _status_code, _headers = get_autoreloads_token_with_http_info(token, opts)
      data
    end

    # Returns a specific auto reload object
    # @param token [String] Auto reload token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [Array<(AutoReloadResponseModel, Integer, Hash)>] AutoReloadResponseModel data, response status code and response headers
    def get_autoreloads_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutoReloadsApi.get_autoreloads_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AutoReloadsApi.get_autoreloads_token"
      end
      # resource path
      local_var_path = '/autoreloads/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AutoReloadResponseModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AutoReloadsApi.get_autoreloads_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutoReloadsApi#get_autoreloads_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an auto reload object
    # @param body [AutoReloadModel] Auto reload object
    # @param [Hash] opts the optional parameters
    # @return [AutoReloadResponseModel]
    def post_autoreloads(body, opts = {})
      data, _status_code, _headers = post_autoreloads_with_http_info(body, opts)
      data
    end

    # Creates an auto reload object
    # @param body [AutoReloadModel] Auto reload object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoReloadResponseModel, Integer, Hash)>] AutoReloadResponseModel data, response status code and response headers
    def post_autoreloads_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutoReloadsApi.post_autoreloads ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AutoReloadsApi.post_autoreloads"
      end
      # resource path
      local_var_path = '/autoreloads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AutoReloadResponseModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AutoReloadsApi.post_autoreloads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutoReloadsApi#post_autoreloads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a specific auto reload object
    # @param token [String] 
    # @param body [AutoReloadUpdateModel] Auto reload object
    # @param [Hash] opts the optional parameters
    # @return [AutoReloadResponseModel]
    def put_autoreloads_token(token, body, opts = {})
      data, _status_code, _headers = put_autoreloads_token_with_http_info(token, body, opts)
      data
    end

    # Updates a specific auto reload object
    # @param token [String] 
    # @param body [AutoReloadUpdateModel] Auto reload object
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoReloadResponseModel, Integer, Hash)>] AutoReloadResponseModel data, response status code and response headers
    def put_autoreloads_token_with_http_info(token, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutoReloadsApi.put_autoreloads_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AutoReloadsApi.put_autoreloads_token"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AutoReloadsApi.put_autoreloads_token"
      end
      # resource path
      local_var_path = '/autoreloads/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AutoReloadResponseModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AutoReloadsApi.put_autoreloads_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutoReloadsApi#put_autoreloads_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
