=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class CardProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all card products
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 5)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :sort_by Sort order (default to '-createdTime')
    # @return [CardProductListResponse]
    def get_cardproducts(opts = {})
      data, _status_code, _headers = get_cardproducts_with_http_info(opts)
      data
    end

    # Lists all card products
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :sort_by Sort order
    # @return [Array<(CardProductListResponse, Integer, Hash)>] CardProductListResponse data, response status code and response headers
    def get_cardproducts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardProductsApi.get_cardproducts ...'
      end
      # resource path
      local_var_path = '/cardproducts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CardProductListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardProductsApi.get_cardproducts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardProductsApi#get_cardproducts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific card product
    # @param token [String] Card product token
    # @param [Hash] opts the optional parameters
    # @return [CardProductResponse]
    def get_cardproducts_token(token, opts = {})
      data, _status_code, _headers = get_cardproducts_token_with_http_info(token, opts)
      data
    end

    # Returns a specific card product
    # @param token [String] Card product token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CardProductResponse, Integer, Hash)>] CardProductResponse data, response status code and response headers
    def get_cardproducts_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardProductsApi.get_cardproducts_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling CardProductsApi.get_cardproducts_token"
      end
      # resource path
      local_var_path = '/cardproducts/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CardProductResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardProductsApi.get_cardproducts_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardProductsApi#get_cardproducts_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a card product
    # @param body [CardProductRequest] Card product object
    # @param [Hash] opts the optional parameters
    # @return [CardProductResponse]
    def post_cardproducts(body, opts = {})
      data, _status_code, _headers = post_cardproducts_with_http_info(body, opts)
      data
    end

    # Creates a card product
    # @param body [CardProductRequest] Card product object
    # @param [Hash] opts the optional parameters
    # @return [Array<(CardProductResponse, Integer, Hash)>] CardProductResponse data, response status code and response headers
    def post_cardproducts_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardProductsApi.post_cardproducts ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardProductsApi.post_cardproducts"
      end
      # resource path
      local_var_path = '/cardproducts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CardProductResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardProductsApi.post_cardproducts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardProductsApi#post_cardproducts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a specific card product
    # @param token [String] Card product token
    # @param body [CardProductUpdateModel] Card product object
    # @param [Hash] opts the optional parameters
    # @return [CardProductResponse]
    def put_cardproducts_token(token, body, opts = {})
      data, _status_code, _headers = put_cardproducts_token_with_http_info(token, body, opts)
      data
    end

    # Updates a specific card product
    # @param token [String] Card product token
    # @param body [CardProductUpdateModel] Card product object
    # @param [Hash] opts the optional parameters
    # @return [Array<(CardProductResponse, Integer, Hash)>] CardProductResponse data, response status code and response headers
    def put_cardproducts_token_with_http_info(token, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardProductsApi.put_cardproducts_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling CardProductsApi.put_cardproducts_token"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardProductsApi.put_cardproducts_token"
      end
      # resource path
      local_var_path = '/cardproducts/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CardProductResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardProductsApi.put_cardproducts_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardProductsApi#put_cardproducts_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
