=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class CardholderBalancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns account balances for a cardholder
    # @param token [String] User or Business token
    # @param [Hash] opts the optional parameters
    # @return [CardholderBalances]
    def get_balances_token(token, opts = {})
      data, _status_code, _headers = get_balances_token_with_http_info(token, opts)
      data
    end

    # Returns account balances for a cardholder
    # @param token [String] User or Business token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CardholderBalances, Integer, Hash)>] CardholderBalances data, response status code and response headers
    def get_balances_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardholderBalancesApi.get_balances_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling CardholderBalancesApi.get_balances_token"
      end
      # resource path
      local_var_path = '/balances/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CardholderBalances'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardholderBalancesApi.get_balances_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardholderBalancesApi#get_balances_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a merchant-specific account balance
    # @param token [String] User or Business token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of restrictions to retrieve (default to 5)
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :sort_by Sort order
    # @return [CardholderMsaBalance]
    def get_balances_token_msas(token, opts = {})
      data, _status_code, _headers = get_balances_token_msas_with_http_info(token, opts)
      data
    end

    # Returns a merchant-specific account balance
    # @param token [String] User or Business token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of restrictions to retrieve
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :sort_by Sort order
    # @return [Array<(CardholderMsaBalance, Integer, Hash)>] CardholderMsaBalance data, response status code and response headers
    def get_balances_token_msas_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardholderBalancesApi.get_balances_token_msas ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling CardholderBalancesApi.get_balances_token_msas"
      end
      allowable_values = ["name"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/balances/{token}/msas'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CardholderMsaBalance'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardholderBalancesApi.get_balances_token_msas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardholderBalancesApi#get_balances_token_msas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates the cached_balance of cardholder
    # @param token [String] User or Business token
    # @param body [CardholderUpdateCachedBalances] Cardholder Update Cache Balance
    # @param [Hash] opts the optional parameters
    # @return [CardholderBalances]
    def update_balance(token, body, opts = {})
      data, _status_code, _headers = update_balance_with_http_info(token, body, opts)
      data
    end

    # Updates the cached_balance of cardholder
    # @param token [String] User or Business token
    # @param body [CardholderUpdateCachedBalances] Cardholder Update Cache Balance
    # @param [Hash] opts the optional parameters
    # @return [Array<(CardholderBalances, Integer, Hash)>] CardholderBalances data, response status code and response headers
    def update_balance_with_http_info(token, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardholderBalancesApi.update_balance ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling CardholderBalancesApi.update_balance"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardholderBalancesApi.update_balance"
      end
      # resource path
      local_var_path = '/balances/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CardholderBalances'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CardholderBalancesApi.update_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardholderBalancesApi#update_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
