=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class DigitalWalletTokenTransitionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all digital wallet token transitions
    # @param token [String] Digital wallet token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of digital wallet transitions to retrieve (default to 5)
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Sort order (default to '-id')
    # @return [DigitalWalletTokenTransitionListResponse]
    def get_digitalwallettokentransitions_digitalwallettoken_token(token, opts = {})
      data, _status_code, _headers = get_digitalwallettokentransitions_digitalwallettoken_token_with_http_info(token, opts)
      data
    end

    # Lists all digital wallet token transitions
    # @param token [String] Digital wallet token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of digital wallet transitions to retrieve
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Sort order
    # @return [Array<(DigitalWalletTokenTransitionListResponse, Integer, Hash)>] DigitalWalletTokenTransitionListResponse data, response status code and response headers
    def get_digitalwallettokentransitions_digitalwallettoken_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DigitalWalletTokenTransitionsApi.get_digitalwallettokentransitions_digitalwallettoken_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling DigitalWalletTokenTransitionsApi.get_digitalwallettokentransitions_digitalwallettoken_token"
      end
      # resource path
      local_var_path = '/digitalwallettokentransitions/digitalwallettoken/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DigitalWalletTokenTransitionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DigitalWalletTokenTransitionsApi.get_digitalwallettokentransitions_digitalwallettoken_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DigitalWalletTokenTransitionsApi#get_digitalwallettokentransitions_digitalwallettoken_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a digital wallet transition object
    # @param token [String] Digital wallet transition token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [DigitalWalletTokenTransitionResponse]
    def get_digitalwallettokentransitions_token(token, opts = {})
      data, _status_code, _headers = get_digitalwallettokentransitions_token_with_http_info(token, opts)
      data
    end

    # Returns a digital wallet transition object
    # @param token [String] Digital wallet transition token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [Array<(DigitalWalletTokenTransitionResponse, Integer, Hash)>] DigitalWalletTokenTransitionResponse data, response status code and response headers
    def get_digitalwallettokentransitions_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DigitalWalletTokenTransitionsApi.get_digitalwallettokentransitions_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling DigitalWalletTokenTransitionsApi.get_digitalwallettokentransitions_token"
      end
      # resource path
      local_var_path = '/digitalwallettokentransitions/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DigitalWalletTokenTransitionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DigitalWalletTokenTransitionsApi.get_digitalwallettokentransitions_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DigitalWalletTokenTransitionsApi#get_digitalwallettokentransitions_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a digital wallet token transition
    # @param [Hash] opts the optional parameters
    # @option opts [DigitalWalletTokenTransitionRequest] :body 
    # @return [DigitalWalletTokenTransitionResponse]
    def post_digitalwallettokentransitions(opts = {})
      data, _status_code, _headers = post_digitalwallettokentransitions_with_http_info(opts)
      data
    end

    # Creates a digital wallet token transition
    # @param [Hash] opts the optional parameters
    # @option opts [DigitalWalletTokenTransitionRequest] :body 
    # @return [Array<(DigitalWalletTokenTransitionResponse, Integer, Hash)>] DigitalWalletTokenTransitionResponse data, response status code and response headers
    def post_digitalwallettokentransitions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DigitalWalletTokenTransitionsApi.post_digitalwallettokentransitions ...'
      end
      # resource path
      local_var_path = '/digitalwallettokentransitions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DigitalWalletTokenTransitionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DigitalWalletTokenTransitionsApi.post_digitalwallettokentransitions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DigitalWalletTokenTransitionsApi#post_digitalwallettokentransitions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
