=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class MsaOrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns an MSA order 
    # @param token [String] Order token
    # @param [Hash] opts the optional parameters
    # @return [MsaOrderResponse]
    def get_msaorders_token(token, opts = {})
      data, _status_code, _headers = get_msaorders_token_with_http_info(token, opts)
      data
    end

    # Returns an MSA order 
    # @param token [String] Order token
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaOrderResponse, Integer, Hash)>] MsaOrderResponse data, response status code and response headers
    def get_msaorders_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsaOrdersApi.get_msaorders_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling MsaOrdersApi.get_msaorders_token"
      end
      # resource path
      local_var_path = '/msaorders/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MsaOrdersApi.get_msaorders_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsaOrdersApi#get_msaorders_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all MSA unloads
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of MSA unloads to retrieve (default to 5)
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :sort_by Sort order (default to '-lastModifiedTime')
    # @option opts [String] :user_token User token
    # @option opts [String] :business_token Business token
    # @option opts [String] :original_order_token Original order token
    # @return [MSAUnloadListResponse]
    def get_msaorders_unloads(opts = {})
      data, _status_code, _headers = get_msaorders_unloads_with_http_info(opts)
      data
    end

    # Lists all MSA unloads
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of MSA unloads to retrieve
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :sort_by Sort order
    # @option opts [String] :user_token User token
    # @option opts [String] :business_token Business token
    # @option opts [String] :original_order_token Original order token
    # @return [Array<(MSAUnloadListResponse, Integer, Hash)>] MSAUnloadListResponse data, response status code and response headers
    def get_msaorders_unloads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsaOrdersApi.get_msaorders_unloads ...'
      end
      # resource path
      local_var_path = '/msaorders/unloads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'user_token'] = opts[:'user_token'] if !opts[:'user_token'].nil?
      query_params[:'business_token'] = opts[:'business_token'] if !opts[:'business_token'].nil?
      query_params[:'original_order_token'] = opts[:'original_order_token'] if !opts[:'original_order_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MSAUnloadListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MsaOrdersApi.get_msaorders_unloads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsaOrdersApi#get_msaorders_unloads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific MSA unload
    # @param unload_token [String] Unload token
    # @param [Hash] opts the optional parameters
    # @return [MsaReturns]
    def get_msaorders_unloads_unloadtoken(unload_token, opts = {})
      data, _status_code, _headers = get_msaorders_unloads_unloadtoken_with_http_info(unload_token, opts)
      data
    end

    # Returns a specific MSA unload
    # @param unload_token [String] Unload token
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaReturns, Integer, Hash)>] MsaReturns data, response status code and response headers
    def get_msaorders_unloads_unloadtoken_with_http_info(unload_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsaOrdersApi.get_msaorders_unloads_unloadtoken ...'
      end
      # verify the required parameter 'unload_token' is set
      if @api_client.config.client_side_validation && unload_token.nil?
        fail ArgumentError, "Missing the required parameter 'unload_token' when calling MsaOrdersApi.get_msaorders_unloads_unloadtoken"
      end
      # resource path
      local_var_path = '/msaorders/unloads/{unload_token}'.sub('{' + 'unload_token' + '}', CGI.escape(unload_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReturns'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MsaOrdersApi.get_msaorders_unloads_unloadtoken",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsaOrdersApi#get_msaorders_unloads_unloadtoken\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a merchant-specific account order
    # @param [Hash] opts the optional parameters
    # @option opts [MsaOrderRequest] :body 
    # @return [MsaOrderResponse]
    def post_msaorders(opts = {})
      data, _status_code, _headers = post_msaorders_with_http_info(opts)
      data
    end

    # Creates a merchant-specific account order
    # @param [Hash] opts the optional parameters
    # @option opts [MsaOrderRequest] :body 
    # @return [Array<(MsaOrderResponse, Integer, Hash)>] MsaOrderResponse data, response status code and response headers
    def post_msaorders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsaOrdersApi.post_msaorders ...'
      end
      # resource path
      local_var_path = '/msaorders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MsaOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MsaOrdersApi.post_msaorders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsaOrdersApi#post_msaorders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an MSA order
    # @param [Hash] opts the optional parameters
    # @option opts [MsaUnloadRequestModel] :body 
    # @return [MsaReturns]
    def post_msaorders_unloads(opts = {})
      data, _status_code, _headers = post_msaorders_unloads_with_http_info(opts)
      data
    end

    # Returns an MSA order
    # @param [Hash] opts the optional parameters
    # @option opts [MsaUnloadRequestModel] :body 
    # @return [Array<(MsaReturns, Integer, Hash)>] MsaReturns data, response status code and response headers
    def post_msaorders_unloads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsaOrdersApi.post_msaorders_unloads ...'
      end
      # resource path
      local_var_path = '/msaorders/unloads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReturns'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MsaOrdersApi.post_msaorders_unloads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsaOrdersApi#post_msaorders_unloads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a specific merchant-specific account order
    # @param token [String] Order token
    # @param [Hash] opts the optional parameters
    # @option opts [MsaOrderUpdateRequest] :body 
    # @return [MsaOrderResponse]
    def put_msaorders_token(token, opts = {})
      data, _status_code, _headers = put_msaorders_token_with_http_info(token, opts)
      data
    end

    # Updates a specific merchant-specific account order
    # @param token [String] Order token
    # @param [Hash] opts the optional parameters
    # @option opts [MsaOrderUpdateRequest] :body 
    # @return [Array<(MsaOrderResponse, Integer, Hash)>] MsaOrderResponse data, response status code and response headers
    def put_msaorders_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsaOrdersApi.put_msaorders_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling MsaOrdersApi.put_msaorders_token"
      end
      # resource path
      local_var_path = '/msaorders/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MsaOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MsaOrdersApi.put_msaorders_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsaOrdersApi#put_msaorders_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
