=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class OfferOrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a purchase order for a specific offer
    # @param token [String] Order token
    # @param [Hash] opts the optional parameters
    # @return [OfferOrderResponse]
    def get_offerorders_token(token, opts = {})
      data, _status_code, _headers = get_offerorders_token_with_http_info(token, opts)
      data
    end

    # Returns a purchase order for a specific offer
    # @param token [String] Order token
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferOrderResponse, Integer, Hash)>] OfferOrderResponse data, response status code and response headers
    def get_offerorders_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferOrdersApi.get_offerorders_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling OfferOrdersApi.get_offerorders_token"
      end
      # resource path
      local_var_path = '/offerorders/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferOrdersApi.get_offerorders_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferOrdersApi#get_offerorders_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an offer order
    # @param [Hash] opts the optional parameters
    # @option opts [OfferOrderRequest] :body 
    # @return [OfferOrderResponse]
    def post_offerorders(opts = {})
      data, _status_code, _headers = post_offerorders_with_http_info(opts)
      data
    end

    # Creates an offer order
    # @param [Hash] opts the optional parameters
    # @option opts [OfferOrderRequest] :body 
    # @return [Array<(OfferOrderResponse, Integer, Hash)>] OfferOrderResponse data, response status code and response headers
    def post_offerorders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferOrdersApi.post_offerorders ...'
      end
      # resource path
      local_var_path = '/offerorders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'OfferOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferOrdersApi.post_offerorders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferOrdersApi#post_offerorders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
