=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class ProgramTransfersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all program transfers
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of program transfers to retrieve (default to 5)
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Sort order (default to '-lastModifiedTime')
    # @option opts [String] :user_token User token
    # @option opts [String] :business_token Business token
    # @option opts [String] :type_token Program type token
    # @return [ProgramTransferListResponse]
    def get_programtransfers(opts = {})
      data, _status_code, _headers = get_programtransfers_with_http_info(opts)
      data
    end

    # Lists all program transfers
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of program transfers to retrieve
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Sort order
    # @option opts [String] :user_token User token
    # @option opts [String] :business_token Business token
    # @option opts [String] :type_token Program type token
    # @return [Array<(ProgramTransferListResponse, Integer, Hash)>] ProgramTransferListResponse data, response status code and response headers
    def get_programtransfers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.get_programtransfers ...'
      end
      # resource path
      local_var_path = '/programtransfers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'user_token'] = opts[:'user_token'] if !opts[:'user_token'].nil?
      query_params[:'business_token'] = opts[:'business_token'] if !opts[:'business_token'].nil?
      query_params[:'type_token'] = opts[:'type_token'] if !opts[:'type_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.get_programtransfers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#get_programtransfers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific program transfer
    # @param token [String] Program transfer token
    # @param [Hash] opts the optional parameters
    # @return [ProgramTransferResponse]
    def get_programtransfers_token(token, opts = {})
      data, _status_code, _headers = get_programtransfers_token_with_http_info(token, opts)
      data
    end

    # Returns a specific program transfer
    # @param token [String] Program transfer token
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProgramTransferResponse, Integer, Hash)>] ProgramTransferResponse data, response status code and response headers
    def get_programtransfers_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.get_programtransfers_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling ProgramTransfersApi.get_programtransfers_token"
      end
      # resource path
      local_var_path = '/programtransfers/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.get_programtransfers_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#get_programtransfers_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all program transfer types
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of program transfer types to retrieve (default to 5)
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Sort order (default to '-lastModifiedTime')
    # @return [ProgramTransferTypeListResponse]
    def get_programtransfers_types(opts = {})
      data, _status_code, _headers = get_programtransfers_types_with_http_info(opts)
      data
    end

    # Lists all program transfer types
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of program transfer types to retrieve
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Sort order
    # @return [Array<(ProgramTransferTypeListResponse, Integer, Hash)>] ProgramTransferTypeListResponse data, response status code and response headers
    def get_programtransfers_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.get_programtransfers_types ...'
      end
      # resource path
      local_var_path = '/programtransfers/types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferTypeListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.get_programtransfers_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#get_programtransfers_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific program transfer type
    # @param type_token [String] Type token
    # @param [Hash] opts the optional parameters
    # @return [ProgramTransferTypeReponse]
    def get_programtransfers_types_typetoken(type_token, opts = {})
      data, _status_code, _headers = get_programtransfers_types_typetoken_with_http_info(type_token, opts)
      data
    end

    # Returns a specific program transfer type
    # @param type_token [String] Type token
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProgramTransferTypeReponse, Integer, Hash)>] ProgramTransferTypeReponse data, response status code and response headers
    def get_programtransfers_types_typetoken_with_http_info(type_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.get_programtransfers_types_typetoken ...'
      end
      # verify the required parameter 'type_token' is set
      if @api_client.config.client_side_validation && type_token.nil?
        fail ArgumentError, "Missing the required parameter 'type_token' when calling ProgramTransfersApi.get_programtransfers_types_typetoken"
      end
      # resource path
      local_var_path = '/programtransfers/types/{type_token}'.sub('{' + 'type_token' + '}', CGI.escape(type_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferTypeReponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.get_programtransfers_types_typetoken",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#get_programtransfers_types_typetoken\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transfers to a program funding source
    # @param [Hash] opts the optional parameters
    # @option opts [ProgramTransfer] :body 
    # @return [ProgramTransferResponse]
    def post_programtransfers(opts = {})
      data, _status_code, _headers = post_programtransfers_with_http_info(opts)
      data
    end

    # Transfers to a program funding source
    # @param [Hash] opts the optional parameters
    # @option opts [ProgramTransfer] :body 
    # @return [Array<(ProgramTransferResponse, Integer, Hash)>] ProgramTransferResponse data, response status code and response headers
    def post_programtransfers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.post_programtransfers ...'
      end
      # resource path
      local_var_path = '/programtransfers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.post_programtransfers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#post_programtransfers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a program transfer type
    # @param [Hash] opts the optional parameters
    # @option opts [ProgramTransferTypeRequest] :body 
    # @return [ProgramTransferTypeReponse]
    def post_programtransfers_types(opts = {})
      data, _status_code, _headers = post_programtransfers_types_with_http_info(opts)
      data
    end

    # Creates a program transfer type
    # @param [Hash] opts the optional parameters
    # @option opts [ProgramTransferTypeRequest] :body 
    # @return [Array<(ProgramTransferTypeReponse, Integer, Hash)>] ProgramTransferTypeReponse data, response status code and response headers
    def post_programtransfers_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.post_programtransfers_types ...'
      end
      # resource path
      local_var_path = '/programtransfers/types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferTypeReponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.post_programtransfers_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#post_programtransfers_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a specific program transfer type
    # @param type_token [String] Type token
    # @param [Hash] opts the optional parameters
    # @option opts [ProgramTransferTypeRequest] :body 
    # @return [ProgramTransferTypeReponse]
    def put_programtransfers_types_typetoken(type_token, opts = {})
      data, _status_code, _headers = put_programtransfers_types_typetoken_with_http_info(type_token, opts)
      data
    end

    # Updates a specific program transfer type
    # @param type_token [String] Type token
    # @param [Hash] opts the optional parameters
    # @option opts [ProgramTransferTypeRequest] :body 
    # @return [Array<(ProgramTransferTypeReponse, Integer, Hash)>] ProgramTransferTypeReponse data, response status code and response headers
    def put_programtransfers_types_typetoken_with_http_info(type_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramTransfersApi.put_programtransfers_types_typetoken ...'
      end
      # verify the required parameter 'type_token' is set
      if @api_client.config.client_side_validation && type_token.nil?
        fail ArgumentError, "Missing the required parameter 'type_token' when calling ProgramTransfersApi.put_programtransfers_types_typetoken"
      end
      # resource path
      local_var_path = '/programtransfers/types/{type_token}'.sub('{' + 'type_token' + '}', CGI.escape(type_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProgramTransferTypeReponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramTransfersApi.put_programtransfers_types_typetoken",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramTransfersApi#put_programtransfers_types_typetoken\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
