=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class PushToCardApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all push-to-card disbursements
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of push-to-card disbursements to retrieve (default to 10)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :sort_by Sort order (default to '-createdTime')
    # @return [PushToCardDisburseListResponse]
    def get_pushtocards_disburse(opts = {})
      data, _status_code, _headers = get_pushtocards_disburse_with_http_info(opts)
      data
    end

    # Lists all push-to-card disbursements
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of push-to-card disbursements to retrieve
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :sort_by Sort order
    # @return [Array<(PushToCardDisburseListResponse, Integer, Hash)>] PushToCardDisburseListResponse data, response status code and response headers
    def get_pushtocards_disburse_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushToCardApi.get_pushtocards_disburse ...'
      end
      # resource path
      local_var_path = '/pushtocards/disburse'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PushToCardDisburseListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PushToCardApi.get_pushtocards_disburse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushToCardApi#get_pushtocards_disburse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific push-to-card disbursement
    # @param token [String] Push-to-card disbursement token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [PushToCardDisbursementResponse]
    def get_pushtocards_disburse_token(token, opts = {})
      data, _status_code, _headers = get_pushtocards_disburse_token_with_http_info(token, opts)
      data
    end

    # Returns a specific push-to-card disbursement
    # @param token [String] Push-to-card disbursement token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [Array<(PushToCardDisbursementResponse, Integer, Hash)>] PushToCardDisbursementResponse data, response status code and response headers
    def get_pushtocards_disburse_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushToCardApi.get_pushtocards_disburse_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling PushToCardApi.get_pushtocards_disburse_token"
      end
      # resource path
      local_var_path = '/pushtocards/disburse/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PushToCardDisbursementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PushToCardApi.get_pushtocards_disburse_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushToCardApi#get_pushtocards_disburse_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all push-to-card payment card details
    # @param user_token [String] User token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of push-to-card payment cards to retrieve (default to 10)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [Integer] :start_index Start index (default to 0)
    # @option opts [String] :sort_by Sort order (default to '-createdTime')
    # @return [PushToCardListResponse]
    def get_pushtocards_paymentcard(user_token, opts = {})
      data, _status_code, _headers = get_pushtocards_paymentcard_with_http_info(user_token, opts)
      data
    end

    # Returns all push-to-card payment card details
    # @param user_token [String] User token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of push-to-card payment cards to retrieve
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [Integer] :start_index Start index
    # @option opts [String] :sort_by Sort order
    # @return [Array<(PushToCardListResponse, Integer, Hash)>] PushToCardListResponse data, response status code and response headers
    def get_pushtocards_paymentcard_with_http_info(user_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushToCardApi.get_pushtocards_paymentcard ...'
      end
      # verify the required parameter 'user_token' is set
      if @api_client.config.client_side_validation && user_token.nil?
        fail ArgumentError, "Missing the required parameter 'user_token' when calling PushToCardApi.get_pushtocards_paymentcard"
      end
      # resource path
      local_var_path = '/pushtocards/paymentcard'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user_token'] = user_token
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PushToCardListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PushToCardApi.get_pushtocards_paymentcard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushToCardApi#get_pushtocards_paymentcard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific paymentcard object
    # @param token [String] Push-to-card token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [PushToCardResponse]
    def get_pushtocards_paymentcard_token(token, opts = {})
      data, _status_code, _headers = get_pushtocards_paymentcard_token_with_http_info(token, opts)
      data
    end

    # Returns a specific paymentcard object
    # @param token [String] Push-to-card token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [Array<(PushToCardResponse, Integer, Hash)>] PushToCardResponse data, response status code and response headers
    def get_pushtocards_paymentcard_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushToCardApi.get_pushtocards_paymentcard_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling PushToCardApi.get_pushtocards_paymentcard_token"
      end
      # resource path
      local_var_path = '/pushtocards/paymentcard/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PushToCardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PushToCardApi.get_pushtocards_paymentcard_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushToCardApi#get_pushtocards_paymentcard_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiates a push-to-card money disbursement
    # @param [Hash] opts the optional parameters
    # @option opts [PushToCardDisburseRequest] :body 
    # @return [PushToCardDisbursementResponse]
    def post_pushtocards_disburse(opts = {})
      data, _status_code, _headers = post_pushtocards_disburse_with_http_info(opts)
      data
    end

    # Initiates a push-to-card money disbursement
    # @param [Hash] opts the optional parameters
    # @option opts [PushToCardDisburseRequest] :body 
    # @return [Array<(PushToCardDisbursementResponse, Integer, Hash)>] PushToCardDisbursementResponse data, response status code and response headers
    def post_pushtocards_disburse_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushToCardApi.post_pushtocards_disburse ...'
      end
      # resource path
      local_var_path = '/pushtocards/disburse'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PushToCardDisbursementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PushToCardApi.post_pushtocards_disburse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushToCardApi#post_pushtocards_disburse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds an external card to which funds will be pushed
    # @param [Hash] opts the optional parameters
    # @option opts [PushToCardRequest] :body 
    # @return [PushToCardResponse]
    def post_pushtocards_paymentcard(opts = {})
      data, _status_code, _headers = post_pushtocards_paymentcard_with_http_info(opts)
      data
    end

    # Adds an external card to which funds will be pushed
    # @param [Hash] opts the optional parameters
    # @option opts [PushToCardRequest] :body 
    # @return [Array<(PushToCardResponse, Integer, Hash)>] PushToCardResponse data, response status code and response headers
    def post_pushtocards_paymentcard_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushToCardApi.post_pushtocards_paymentcard ...'
      end
      # resource path
      local_var_path = '/pushtocards/paymentcard'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PushToCardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PushToCardApi.post_pushtocards_paymentcard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushToCardApi#post_pushtocards_paymentcard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
