=begin
#Marqeta Core API

#Simplified management of your payment programs

The version of the OpenAPI document: 3.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module Marqeta
  class VelocityControlsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Queries velocity controls
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token. Use \&quot;null\&quot; to get velocity controls that are not associated with any card product.
    # @option opts [String] :user User token. Use \&quot;null\&quot; to get velocity controls that are not associated with any user.
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 5)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime. (default to '-lastModifiedTime')
    # @return [VelocityControlListResponse]
    def get_velocitycontrols(opts = {})
      data, _status_code, _headers = get_velocitycontrols_with_http_info(opts)
      data
    end

    # Queries velocity controls
    # @param [Hash] opts the optional parameters
    # @option opts [String] :card_product Card product token. Use \&quot;null\&quot; to get velocity controls that are not associated with any card product.
    # @option opts [String] :user User token. Use \&quot;null\&quot; to get velocity controls that are not associated with any user.
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime.
    # @return [Array<(VelocityControlListResponse, Integer, Hash)>] VelocityControlListResponse data, response status code and response headers
    def get_velocitycontrols_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VelocityControlsApi.get_velocitycontrols ...'
      end
      # resource path
      local_var_path = '/velocitycontrols'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'card_product'] = opts[:'card_product'] if !opts[:'card_product'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VelocityControlListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VelocityControlsApi.get_velocitycontrols",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VelocityControlsApi#get_velocitycontrols\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific velocity control
    # @param token [String] Velocity control token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [VelocityControlResponse]
    def get_velocitycontrols_token(token, opts = {})
      data, _status_code, _headers = get_velocitycontrols_token_with_http_info(token, opts)
      data
    end

    # Returns a specific velocity control
    # @param token [String] Velocity control token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @return [Array<(VelocityControlResponse, Integer, Hash)>] VelocityControlResponse data, response status code and response headers
    def get_velocitycontrols_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VelocityControlsApi.get_velocitycontrols_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling VelocityControlsApi.get_velocitycontrols_token"
      end
      # resource path
      local_var_path = '/velocitycontrols/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VelocityControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VelocityControlsApi.get_velocitycontrols_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VelocityControlsApi#get_velocitycontrols_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Queries a user's velocity control balances
    # @param user_token [String] User token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items. (default to 5)
    # @option opts [Integer] :start_index Indicates from what row to start returning data. (default to 0)
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime. (default to '-lastModifiedTime')
    # @option opts [String] :force_dto 
    # @return [VelocityControlBalanceListResponse]
    def get_velocitycontrols_user_usertoken_available(user_token, opts = {})
      data, _status_code, _headers = get_velocitycontrols_user_usertoken_available_with_http_info(user_token, opts)
      data
    end

    # Queries a user&#39;s velocity control balances
    # @param user_token [String] User token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count Number of items to retrieve. Count can be between 1 - 10 items.
    # @option opts [Integer] :start_index Indicates from what row to start returning data.
    # @option opts [String] :fields Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
    # @option opts [String] :sort_by Field by which to sort the returned items. Use any field in the model, or system fields lastModifiedTime or createdTime.
    # @option opts [String] :force_dto 
    # @return [Array<(VelocityControlBalanceListResponse, Integer, Hash)>] VelocityControlBalanceListResponse data, response status code and response headers
    def get_velocitycontrols_user_usertoken_available_with_http_info(user_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VelocityControlsApi.get_velocitycontrols_user_usertoken_available ...'
      end
      # verify the required parameter 'user_token' is set
      if @api_client.config.client_side_validation && user_token.nil?
        fail ArgumentError, "Missing the required parameter 'user_token' when calling VelocityControlsApi.get_velocitycontrols_user_usertoken_available"
      end
      # resource path
      local_var_path = '/velocitycontrols/user/{user_token}/available'.sub('{' + 'user_token' + '}', CGI.escape(user_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'force_dto'] = opts[:'force_dto'] if !opts[:'force_dto'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VelocityControlBalanceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VelocityControlsApi.get_velocitycontrols_user_usertoken_available",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VelocityControlsApi#get_velocitycontrols_user_usertoken_available\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a velocity control
    # @param body [VelocityControlRequest] Velocity control object
    # @param [Hash] opts the optional parameters
    # @return [VelocityControlResponse]
    def post_velocitycontrols(body, opts = {})
      data, _status_code, _headers = post_velocitycontrols_with_http_info(body, opts)
      data
    end

    # Creates a velocity control
    # @param body [VelocityControlRequest] Velocity control object
    # @param [Hash] opts the optional parameters
    # @return [Array<(VelocityControlResponse, Integer, Hash)>] VelocityControlResponse data, response status code and response headers
    def post_velocitycontrols_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VelocityControlsApi.post_velocitycontrols ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VelocityControlsApi.post_velocitycontrols"
      end
      # resource path
      local_var_path = '/velocitycontrols'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VelocityControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VelocityControlsApi.post_velocitycontrols",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VelocityControlsApi#post_velocitycontrols\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a specific velocity control
    # @param token [String] Velocity control token
    # @param body [VelocityControlUpdateRequest] Velocity control object
    # @param [Hash] opts the optional parameters
    # @return [VelocityControlResponse]
    def put_velocitycontrols_token(token, body, opts = {})
      data, _status_code, _headers = put_velocitycontrols_token_with_http_info(token, body, opts)
      data
    end

    # Updates a specific velocity control
    # @param token [String] Velocity control token
    # @param body [VelocityControlUpdateRequest] Velocity control object
    # @param [Hash] opts the optional parameters
    # @return [Array<(VelocityControlResponse, Integer, Hash)>] VelocityControlResponse data, response status code and response headers
    def put_velocitycontrols_token_with_http_info(token, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VelocityControlsApi.put_velocitycontrols_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling VelocityControlsApi.put_velocitycontrols_token"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VelocityControlsApi.put_velocitycontrols_token"
      end
      # resource path
      local_var_path = '/velocitycontrols/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VelocityControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VelocityControlsApi.put_velocitycontrols_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VelocityControlsApi#put_velocitycontrols_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
